@font-face {
    font-family: 'myfont';
    src: url('../font/KGTenThousandReasons.woff') format('woff');
}

ul {
    list-style: none;
}
    
body {
    background-color: rgba(0, 125, 50, 0.2)
}

#side_menu{
    font-size: 16px;
    width: 40%;
    float: left;
    background: none;
    margin-top: 10px;
    flex-basis: auto;
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
    padding: 0;
    letter-spacing: 2px;   
    
    }

#side_menu ::first-letter {
    font-size: 1.5em;
}

#side_menu :after {
    content:"";
    display:block;
    height:1px;
    width:100%;
    background: -webkit-linear-gradient(left, #40bfa0 0%,#fef785 82%,#f37b7b 100%);
    background: linear-gradient(to right, #40bfa0 0%,#fef785 82%,#f37b7b 100%);
}

#main{ 
font-size: 20px;
width: 100%;
margin-left: 20px;
margin-top: 10px;
flex-grow: 2;
flex-basis: auto;
   

}

.container {
max-width: 940px;
margin: 0 auto;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: flex-start;
}

#font {
    font-size: 60px;
    color: white;
    font-family: 'myfont';
    background-image: url('./img/blackboard4.jpg');
    width: 52%;
    height: 10%;
    text-align: center;
    margin-left: 23%;
}